.stats{
    text-align: center;
    background-color: #b3cde0;
    margin-top: 40px;
    padding: 7px;
    margin-bottom: auto;
}

.row{
    justify-content: space-around;
}

.block-example {
    margin: 1rem;
    justify-content: space-around;
    width: 40%;
    padding: 5px;

} 
.title {
    background-color: #03396c;
    color: white;
    width: 100%;
}

@media (max-width: 500px){
    .block-example {
        margin: 2px;
        justify-content: space-between;
        width: 47%;
        padding: 0px;
        font-size: 10px;
    
    } 
    
    }
    