.stats{
    text-align: center;
    background-color: white;
    margin-top: 40px;
}

.row{
    justify-content: space-around;
}

.block-example {
    margin: 0.3rem;
    background-color: #eee;
    justify-content: space-around;
    width: 40%;
}
.title {
    margin: 0.3rem;
    background-color: black;
    color: white;
    justify-content: center;
    width: 98%;
    text-align: center;
}