.transaction{
    text-align: center;
    background-color: #b3cde0;
    padding-top: 5%;
    margin-bottom: 50px;
}
.transaction h3{
    background-color: #03396c;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.amount{
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.numbers{
    width: 100%;
}

.buttons{
    margin-top: 30px;
    margin-bottom: 20px;

}
body{
    background-color: black;
  }
  .trans-form  input {
    width: 100%;
    padding: 10px 0;
  }